<%- include ("partials/header") %>

   
<div class="container">
    <p>In de Voorlees Club leest Lisan elke dag (nou ja, bijna dan) een stukje voor. Normaal gaat dit over Whatsapp, maar nu wordt bij wijze van experiment een web app gemaakt.</p>
</div>
  


<%- include ("partials/footer") %>