
<%- include ("partials/header") %>
    
<div class="jumbotron">
    <h1 class="display-4">Welkom bij de Voorlees Club</h1>
    <p class="lead">Een kleine boekenkast met voorgelezen content. Eerst over whatsapp; nu hier! Kijk in de boekenkast voor voorgelezen boeken. Ken jij een pareltje die er niet tussen staat? Voeg hem toe aan de collectieve wishlist. Of <strong>begin gelijk</strong> met luisteren met het meest recente boek:</p>
    <a class="btn btn-primary btn-lg" href="/boekenkast/heksen" role="button">"Heksen" voorgelezen door Lisan</a>
</div>

<%- include ("partials/footer") %>